body {
    background-image: url("tour-operator-business-plan.webp") !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    overflow: hidden !important;
    font-family: 'Open Sans', sans-serif !important;
    color: #fff !important;
    margin: 0 !important;
    height: 560px !important;
    display: flex !important;
  }
  
  header {
    margin: auto !important;
    padding: 1px !important;
  }
  
  #selected {
    background-color: #649119 !important;
  }
  
  .a {
    text-align: center !important;
    display: block !important;
    color: #fff !important;
    margin: 5px !important;
  }
  
  .a li {
    margin: 2px !important;
  }
  
  #ticket {
    margin: 17px !important;
  }
  
  .a a {
    margin: 2px !important;
  }
  
  .a a:hover {
    padding: 4px !important;
    background-color: #58a59e !important;
  }
  
  li a {
    margin: 3px !important;
    background-color: #00b8ff !important;
  }
  
  li a:active,
  li a:hover {
    padding: 4px !important;
    background-color: #58a59e !important;
  }
  
  .center {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  
  .button {
    margin: 2px !important;
    background-color: #00b8ff !important;
  }
  
  .button:hover {
    padding: 5px !important;
    background-color: #58a59e !important;
  }
  